extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl, autoplay, crossorigin)
        div#videoControls.videoControls.showing
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-pause
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1",value=0,min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",min="0",max="1",step="0.1",value=0.5)#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen 
                    i.fas.fa-expand
    
    div.video__data
        p.video__title=video.title
        div.video__data-box
            div.video__data-first-column
                span.video__views__createdAt #{video.meta.views} views • #{new Date(video.createdAt).toLocaleDateString({weekday:'long', year:'numeric',month:'long',day:'numeric'})}
            div.video__data-second-column 
                span Rating: #{video.meta.rating} / 5.0
        div.video__owner 
            if video.owner.avatarUrl === ""
                span 😀 
            else
                img(src=video.owner.avatarUrl, crossorigin).video__data-avatar
            a(href=`/users/another/${video.owner._id}`)=video.owner.username
        if String(video.owner._id) === String(loggedInUser._id)
            div.video__edit-delete
                div.video__edit
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                div.video__delete
                    a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__add-comments
            form.video__comments-form#commentForm
                textarea.comment-textarea(cols="30", rows="10", placeholder="Write a nice comment...")#commentTextArea
                button Add Comment
    div.video__comments-container(data-loggedinuser=loggedInUser)
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-comment_id=comment._id)
                    div.comment__box
                        div.comment__owner
                            if comment.ownerAvatarUrl === ""
                                span.alter__avatar 😀 
                            else
                                img(src=comment.ownerAvatarUrl, crossorigin).video__data-avatar
                            span.comment__user-name=comment.ownerName
                            span.comment__created-at #{new Date(comment.createdAt).toLocaleDateString({weekday:'long', year:'numeric',month:'long',day:'numeric'})}
                    div.comment__content
                        span #{comment.text }
                    if String(comment.owner) === String(loggedInUser._id)
                        button#delete__comment(data-comment_id=comment._id) Delete Comment


block scripts 
    script(src="/assets/js/videoPlayer.js")
    script(src="/assets/js/commentSection.js")